configuration {
  modi: "drun,calc,clipboard:clipcatctl list --no-id";
  sidebar-mode: true;
  scroll-method: 1;
  lines: 10;
  fixed-num-lines: false;
  show-icons: true;
  normal-window: true;

  kb-remove-char-back: "BackSpace";
  kb-element-next: "Control+Shift+Tab";
  kb-mode-next: "Tab";
  kb-mode-previous: "Shift+Tab";
}

@theme "themes/custom.rasi"

// vim: filetype=scss
