configuration {
  modi: "drun,calc,clipboard:greenclip print";
  sidebar-mode: true;
  scroll-method: 1;
  lines: 10;
  fixed-num-lines: false;
  show-icons: true;
  normal-window: true;
  theme: "themes/custom.rasi";

  kb-remove-to-eol: "";
  kb-remove-char-back: "BackSpace";
  kb-mode-next: "Tab";
  kb-mode-previous: "Shift+Tab";
  kb-row-tab: "";
}

// vim: filetype=scss
