[Unit]
Description=Set image as wallpaper for desktop
After=xorg-server.service

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-fill --no-fehbg "$WALLPAPER_IMAGE_FILE"

[Install]
WantedBy=xorg-server.service
