[Desktop Entry]
Name=Nmui
Comment=CLI based network manager
Exec=kitty --name floating --class Nmui --detach -o initial_window_width=450 -o initial_window_height=570 -o remember_window_size=no nmtui
Type=Application
