[Desktop Entry]
Name=NetworkManager
Comment=CLI based network manager
Exec=alacritty --class floating --dimensions 55 34 --title NetworkManager --command nmtui
Type=Application
