[Unit]
Description=Ambient light dependent backlight control
After=xorg-server.service

[Service]
ExecStart=/usr/bin/clight
Restart=on-failure

[Install]
WantedBy=xorg-server.service
