[Desktop Entry]
Name=ncmpcpp
Comment=NCurses Music Player as interface to a music player daemon
Exec=alacritty --class floating --option window.dimensions.columns=170 --option window.dimensions.lines=55 --title Music --command ncmpcpp
Type=Application
