[Unit]
Description=Terminal multiplexer server with master for session group
After=xorg-server.service

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -t ${TMUX_DEFAULT_GROUP_NAME} -s ${TMUX_SERVICE_SESSION_NAME} -d \; set-option -s destroy-unattached off
ExecStop=/usr/bin/tmux kill-session -t ${TMUX_SERVICE_SESSION_NAME}
Restart=on-failure

[Install]
WantedBy=xorg-server.service


# Note:
# For some reason does the TMux server the environment variable setup of systemd when run on multiuser target.
# As workaround it gets started after the xorg server has started as many other services.
