# Dotfiles
dotfiles/config/vdirsyncer/status/
dotfiles/config/mc/panels.ini
dotfiles/config/yarn/global/
dotfiles/config/cmus/autosave
dotfiles/config/cmus/cache
dotfiles/config/cmus/command-history
dotfiles/config/cmus/search-history
dotfiles/config/cmus/lib.pl

# Tests
test/gpgkeys/
