# Dotfiles
dotfiles/vdirsyncer/status/
dotfiles/mc/panels.ini
dotfiles/yarn/global/
dotfiles/cmus/autosave
dotfiles/cmus/cache
dotfiles/cmus/command-history
dotfiles/cmus/search-history
dotfiles/cmus/lib.pl

# Tests
test/gpgkeys/
