organizer/vdirsyncer/status/
data/mc/panels.ini
programming/javascript/yarn/global/
multimedia/cmus/autosave
multimedia/cmus/cache
multimedia/cmus/command-history
multimedia/cmus/search-history
multimedia/cmus/lib.pl
