[Desktop Entry]
Name=Bashmount
Comment=CLI based device manager
Exec=alacritty --class floating --option window.dimensions.columns=77 --option window.dimensions.lines=30 --title Bashmount --command bashmount
Type=Application
