[Desktop Entry]
Name=Bashmount
Comment=CLI based device manager
Exec=alacritty --class floating --dimensions 77 30 --title Bashmount --command bashmount
Type=Application
