[Unit]
Description=Multitouch gesture recognizer client
After=xorg-server.service

[Service]
Type=simple
ExecStart=touchegg --client

[Install]
WantedBy=xorg-server.service
