[Unit]
Description=Status bar
After=xorg-server.service

[Service]
# Delay start to wait for i3 socket becoming available (i3 uses no service that could be waited for)
ExecStartPre=/usr/bin/sleep 2s
ExecStart=/usr/bin/polybar --reload top
Restart=on-failure

[Install]
WantedBy=xorg-server.service
