[Desktop Entry]
Name=BluetoothCtl
Comment=Control bluetooth from the command line
Exec=alacritty --class floating --option window.dimensions.columns=50 --option window.dimensions.lines=30 --title BluetoothCtl --command bluetoothctl
Type=Application
