[Desktop Entry]
Name=BluetoothCtl
Comment=Control bluetooth from the command line
Exec=alacritty --class floating --dimensions 50 30 --title BluetoothCtl --command bluetoothctl
Type=Application
