[Desktop Entry]
Name=RawTherapee
GenericName=RAW Photo Editor
Exec=bash -c "systemctl --user stop redshift; rawtherapee; systemctl --user start redshift"
Icon=rawtherapee
Type=Application
