[Desktop Entry]
Name=Bashmount
Comment=CLI based device manager
Exec=kitty --name floating --class Bashmount --detach -o initial_window_width=480 -o initial_window_height=570 -o remember_window_size=no bashmount
Type=Application
