[Desktop Entry]
Name=Ncpamixer
Comment=A curses graphical interface to the PulseAudio sound system for the terminal
Exec=alacritty --class floating --option window.dimensions.columns=100 --option window.dimensions.lines=35 --title Ncpamixer --command ncpamixer
Type=Application
