[Desktop Entry]
Name=Wallpaper
GenericName=Set the X11 wallaper
Exec=feh --bg-scale --no-fehbg /thore/images/wallpapers/wallpaper.png
Terminal=false
Type=Application
