[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
After=network.target network-online.target dbus.socket
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/notmuch new
