[Unit]
Description=Clipboard history manager
After=xorg-server.service

[Service]
Type=simple
ExecStart=/usr/bin/clipcatd --no-daemon
Restart=on-failure

[Install]
WantedBy=xorg-server.service
