* {
  text-font: "SauceCodePro Nerd Font 13";
  icon-font: "SauceCodePro Nerd Font 60";
  prompt-padding: 16px 16px;
  entry-padding: 20px 18px 18px 20px;
  list-element-padding: 20px;
  list-element-margin: 0px;
  list-element-border: 1px 1px 1px 15px;
  list-8-window-padding: 300px 650px;
  apps-textbox-prompt-colon-padding: 16px;

  option-element-padding: 50px 70px 50px -40px;
  option-3-window-padding: 570px 678px;
  option-3-listview-spacing: 100px;
}

// vim: filetype=scss
