[Desktop Entry]
Name=Ranger
Comment=CLI based file manager
Exec=alacritty --class floating --dimensions 170 55 --title Ranger --command ranger
Type=Application
